@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["ALUNO(A)"]</p>
<address>
    <strong>Mais informacoes: </strong>> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>>